---
import { Image } from "astro:assets";
import envelopeImage from "../images/envelope.svg";
import sealImage from "../images/seal.png";

// components/Envelope.astro
const { name, href } = Astro.props;
---

<div class="w-full flex justify-center items-center">
  <a href={href}>
    <!-- Sobre, centrado -->
    <div class="relative flex justify-center items-center">
      <Image
        src={envelopeImage}
        alt="Sobre decorativo"
        class="transition duration-300"
        loading="eager"
      />
      <!-- Texto, también centrado encima (o debajo) del sello -->
      <button class="absolute rounded-full border-[#8a6b4a] bg-[#b38d5e] border-2 w-20 h-20 shadow-lg p-1">
       {name}
      </button>
    </div>

  </a>
</div>
