---
import ImageCarousel from "../components/ui/Carousel.astro";

const images = [
  {
    src: "https://www.dottyaboutpaper.co.uk/cdn/shop/articles/couple-holding-wedding-bouquet-scaled_1024x1024.jpg?v=1694339675",
    alt: "Imagen 1",
    caption: "Un nuevo comienzo",
  },
  {
    src: "https://www.brides.com/thmb/hfDh7xrf4WXxUBy-4hCtVpir_t0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Wedding-Anxiety-Getty-Images-Main-4fc60ea752c24e1698b0def6f3218525.jpg",
    alt: "Imagen 2",
    caption: "Para toda la vida",
  },
];
---

<div id="welcome">
  <!-- Sección principal -->
  <section class="bg-gray-light py-4">
    <div class="flex justify-center">
      <h1 class="text-2xl tracking-wider mb-0 text-gray-700">
        Boda Heizel y Greudys
      </h1>
    </div>
  </section>

  <section>
    <ImageCarousel images={images} />
  </section>

  <section class="bg-gray-light py-4">
    <div class="flex justify-center">
      <hr class="my-4 border-lila border-t-2 w-12 text-center" />
    </div>

    <p class="text-xl tracking-wider text-center font-rosario uppercase px-4">
      Hay momentos en la vida que son especiales...
    </p>
    <div class="flex justify-center">
      <hr class="my-4 border-lila border-t-2 w-12 text-center" />
    </div>
  </section>

  <section>
    <div class="relative w-full h-[70vh]">
      <!-- Imagen -->
      <div
        class="absolute inset-0 transition-opacity duration-1000 ease-in-out"
      >
        <img
          src="/images/regalo.jpg"
          alt="regalo"
          class="w-full h-full object-cover"
          loading="lazy"
          decoding="async"
        />
        <!-- Contenedor de texto -->
        <div
          class="absolute inset-0 bg-black bg-opacity-30 flex flex-col justify-end items-center pb-12"
        >
          <p
            class="text-gray-200 text-lg text-center m-5 uppercase font-extralight font-rosario tracking-widest"
          >
            Compartirlos con las personas que quieres
          </p>
          <p
            class="text-gray-200 text-5xl text-center mx-4 uppercase font-extralight font-rosario tracking-wider"
          >
            Los convierte inolvidables
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray-light py-4 mb-12">
    <!-- Líneas decorativas -->
    <div class="flex justify-center">
      <hr class="my-4 border-lila border-t-2 w-12" />
    </div>
  
    <!-- Texto introductorio -->
    <p class="text-xl tracking-wider text-center font-rosario uppercase px-4 mx-12">
      Es por eso que te invitamos
    </p>
  
    <!-- Línea decorativa inferior -->
    <div class="flex justify-center">
      <hr class="my-4 border-lila border-t-2 w-12" />
    </div>
  
    <!-- Imagen y texto debajo -->
    <div class="flex flex-col items-center">
      <div class="flex justify-center items-center">
        <div class="relative w-1/2 aspect-square">
          <img
            src="/images/cascada.jpg"
            alt="cascada"
            class="w-full h-full object-cover rounded-full"
            loading="lazy"
            decoding="async"
          />
        </div>
      </div>
      <p class="font-parisienne text-5xl mt-4 text-center">
        A nuestra Boda
      </p>
    </div>
  </section>
</div>
