---
import { Image } from 'astro:assets';
import type { ImageProps } from './types';

interface Props {
  images: ImageProps[];
}

// Recibir las props desde Astro
const { images } = Astro.props;
---

<div
  class="relative w-full mx-auto"
  data-images={JSON.stringify(images)}
>
  <div class="carousel overflow-hidden relative">
    <div class="relative w-full h-[70vh]">
      {images.map(({ src, alt, caption, width, height }, index) => (
        <div
          class={`absolute inset-0 transition-opacity duration-1000 ease-in-out ${
            index === 0 ? 'opacity-100' : 'opacity-0'
          }`}
          style={`z-index: ${images.length - index}`}
          data-carousel-item={index}
        >
          {typeof src === 'string' ? (
            <Image
              src={src}
              alt={alt || ''}
              width={width || 1920}
              height={height || 1080}
              class="w-full h-full object-cover"
              loading="eager"
            />
          ) : (
            <Image
              src={src}
              alt={alt || ''}
              class="w-full h-full object-cover"
              loading="eager"
            />
          )}
          <div class="absolute inset-0 bg-black bg-opacity-30 flex items-center justify-center">
            <p class="text-gray-200 text-5xl text-center mx-4 uppercase font-extralight font-rosario tracking-wider">
              {caption || ''}
            </p>
          </div>
        </div>
      ))}
    </div>
  </div>
</div>

<script>
  const items = document.querySelectorAll('[data-carousel-item]');
  let currentIndex = 0;

  if (items.length > 1) {
    setInterval(() => {
      // Oculta la imagen actual
      items[currentIndex].classList.remove('opacity-100');
      items[currentIndex].classList.add('opacity-0');

      // Avanza al siguiente índice
      currentIndex = (currentIndex + 1) % items.length;

      // Muestra la nueva imagen
      items[currentIndex].classList.remove('opacity-0');
      items[currentIndex].classList.add('opacity-100');
    }, 5000);
  }
</script>
